<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <center>
    <a href="/login" class="btn btn-primary btn-lg" style="margin-top:10%;width:150px">登录</a>
  </center>
  </body>
</html>
